<%= render "form_errors", object: project_form %>

<%= form_with(
  model: project_form,
  url: project.persisted? ? project_path(project) : projects_path,
  method: project.persisted? ? :patch : :post
) do |form| %>
  <div class="sm:col-span-4">
    <%= form.label :name, class: "block text-sm/6 font-medium text-gray-900" %>
    <div class="mt-2">
      <%= form.text_field :name, class: "block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" %>
    </div>
  </div>

  <div class="sm:col-span-3">
    <%= form.label :status, class: "block text-sm/6 font-medium text-gray-900" %>
    <div class="mt-2 grid grid-cols-1">
      <%= form.collection_select :status, StatusChange::STATUSES, :parameterize, :titleize, { prompt: "Select status" }, class: "block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" %>
    </div>
  </div>
        
  <div class="mt-6 flex items-center justify-end gap-x-6">
    <%= link_to "Back", :back, class: "text-sm/6 font-semibold text-gray-900" %>
    <%= form.submit "Save", class: "rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
  </div>
<% end %>
